/* all li children from ul element */

ul li {
    background-color: gray;
}

/* direct Children example */

ul > li {
    background-color: red;
}

.container-adjacent p + p {
    background-color: green;
}

.container-adjacent p ~ p {
    background-color: gold;
}
