@import url("https://use.fontawesome.com/releases/v6.2.1/css/all.css");

ul {
    height: 100px;
    vertical-align: middle;
}

li {
    display: inline-block;
    list-style: none;
    margin-left: 15px;
}

a {
    background-color: lightgrey;
    border-radius: 50%;
    vertical-align: middle;
}

