@import url("https://use.fontawesome.com/releases/v6.2.1/css/all.css");

ul {
    height: 100px;
}

li {
    display: inline-block;
    list-style: none;
    margin-left: 15px;
    vertical-align: middle;
}

a {
    background-color: lightgrey;
    border-radius: 50%;
    vertical-align: middle;
}

li i {
    color: black;
}

.facebook:hover i, .linkedIn:hover i, .twitter:hover i, .instagram:hover i {
    color: blue;
}

.google:hover i {
    color: orange;
}

