body{
    line-height: 1.5;
    font-family: Helvetica, sans-serif;
}

h2 {
    line-height: 1.2;
    font-family: Georgia, serif;
}

section {
    display: flex;
    gap: 20px;
    height: 500px;
    align-items: center;
    justify-content: space-between;
    padding: 100px;
}