body {
  display: flex;
  max-width: 90vw;
  background-color: lightgray;
}

ul {
  display: flex;
  flex-wrap: wrap;
  gap: 40px 40px;
}

li {
  display: flex;
  list-style: none;
  border: 7px solid black;
  padding: 20px 10px;
  background-color: #fff;
  align-items: center;
}

img {
  width: fit-content;
  height: fit-content;
}
