@import url('https://maxcdn.bootstrapcdn.com/font-awesome/6.3.0/css/font-awesome.min.css');

section {
    display: block;
}

div {
    text-align: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    
}