.link:visited {
  color: red;
}

.link:active {
    color: green;
}

.btn {
    background-color: black;
    color: white;
}

.btn:hover {
    background-color: greenyellow;
    color: blue;
}

.btn:disabled {
    background-color: lightgray;
    color: darkgray;
}

.input:focus {
    background-color: green;
    color: white;
}

.input:active{
    background-color: red;
} 
