.bullet-list {
    list-style-type: none;
    padding: 0;
}

.bullet-list li {
    width: 100px;
    margin-left: 20px;
    padding-left: 10px;
    text-indent: 10px;
    position: relative;
}

/* .bullet-list li:before {
    content: "•";
    color: #000;
    font-size: 18px;
    position: absolute;
    left: 0;
} */