body {
    background-color: rgb(238, 238, 238);
}

button {
    background-color: rgb(0, 153, 0);
    border: none;
    padding: 5px 10px;
}

a {
    text-decoration: none;
    color: #fff;
}

h3 {
    font-family: Georgia, serif;
    font-size: 1em;
}

.card {
    background-color: rgb(255, 255, 255);
    width: 500px;
    height: 150px;
    position: relative;
    margin: 40px 30px;
}

.info {
    margin: 10px;
}

img {
    position: relative;
}
